* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .app {
    font-family: sans-serif;
    font-size: 1rem;
    color: #000;
    background: url("./20181012-b3.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
  }